<div class="top-header" header>
  <div class="brand">
    <a class="logo" href="./#/">
      <img class="img-logo" src="./assets/img/logoINFORMATA.svg" alt="Logo" />
    </a>
    <div class="sidebar-toggle-box" icon="fas fa-bars" (click)="visibleSidebar = !visibleSidebar">
      <i class="fas fa-bars"></i>
    </div>
  </div>

  <!-- <p-sidebar [blockScroll]="true" [showCloseIcon]="false" [(visible)]="visibleSidebar1" [baseZIndex]="10000">
		<p-panelMenu [multiple]="false" dir="rtl" iconPos="left" [model]="items" [style]="{'width':'239px'}">
		</p-panelMenu>
	</p-sidebar> -->

  <!-- <p-splitButton [label]="userLogged" (onClick)="usuario()" icon="fas fa-user fa-lg" class="headSplitButton"
		[model]="user">
	</p-splitButton> -->
</div>
