@import "src/assets/styles/generalStyle.scss";

.p-button {
  color: #ffffff;
  background: #4682b4;
  border: 1px solid #4682b4;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
  box-shadow 0.2s;
  border-radius: 3px;
}

.group-date {
  display: flex;
  width: 272px;
  align-items: flex-end;
}

.input-filterGlobal {
  width: 98%;
  margin-bottom: 10px;
}

.group-inputFilter-btnCreate {
  display: flex;
}

.div-group-nputFilter-btnCreate {
  width: 40%;
}


// essa parte ajusta a largura das colunas da tabela
th#operation,
td#operation {
  width: 6%;
}

th#config,
td#config{
  width: 6%;
}

th#code,
td#code {
  width: 10%;
}

th#type,
td#type {
  width: 12%;
}

th#description,
td#descrption{
  width: 17%;
}

th#typePayment,
td#typePayment {
  width: 15%;
}

th#value,
td#value {
  width: 10%;
}

#valor{
  color: red;
  font-size: 11.5px;
}





// esse código altera a cor do botão quando ele recebe foco com mouse
.p-button:enabled:hover {
  background: #0d89ec;
  color: #ffffff;
  border-color: #0d89ec;
}

.form-applications {
  padding-bottom: 17px;
}

.buttons-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 230px;
}

.group-btn-input {
  display: flex;
}

p-button.standard.btn-criar-despesa {
  width: 52%;
  height: 37px !important;
  margin-left: 12px;
}

.btn-salvar{
  margin-right: 28px;
}


.btn-data {
  bottom: 2px;
  margin-top: 26px;
  height: 41px px;
  border-bottom-width: 0px;
   margin-bottom: 1px;
}

span.p-input-icon-left.group-filter-global {
  width: 100%;
}

.p-button {
  color: #ffffff;
  background: #4682b4;
  border: 1px solid #4682b4;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

.p-button:enabled:hover {
  background: #0d89ec;
  color: #ffffff;
  border-color: #0d89ec;
}

.input-increment {
  width: 80px;
  height: 29px;
}

.btn-criar-contato {
  height: 37px !important;
}

:host ::ng-deep {
  .size-first-column {
    width: 77px;
  }

  .btn-data{
    border-left-width: 0px !important;
    button.p-button.p-component.p-ripple {
      border-radius: 0px 15px 15px 0px;
    }
  }

  #input-data{

    input.p-field.p-inputtext.p-component.ng-untouched.ng-pristine.ng-valid {
      border-radius: 15px 0px 0px 15px!important;
  }
  }

  .valor{
    .p-inputnumber-input{
      color: red !important;
      font-weight: bolder;
      border-radius: 15px;
    }
  }

  .tableButton-def,
  button.p-button.p-component.p-button-icon-only.p-ripple {
    &:hover {
      background-color: transparent !important;
      border: 1px solid transparent !important;
      color: #767676 !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparent !important;
    }

    color: #495057;
    background: transparent;
    border: 1px solid transparent;
  }
  &.p-fieldset .p-fieldset-legend {
    color: #495057;
    background: transparent;
    border: none;
    font-weight: normal;
    margin-left: 5px;
    padding: 0.6rem;
  }
  .label {
    font-size: 13px;
  }

  .p-card {
    margin: auto;
    margin-top: 0.1%;
    min-height: 83vh;
    max-width: 95vw;
  }

  textarea.text-area {
    padding: 12px 16px;
    color: #000 !important;
    font-size: 13px;
    text-transform: none;
  }

  .footer {
    text-align-last: center;
    // padding-top: 187px;
  }

  .margin-ten {
    margin: 10px;
  }

  .header {
    font-size: 3px;
    padding: 12px 16px;
  }
}
