<h1>Sessão encerrada</h1>
  {{isLoged}}
 <div class="container grid">

<div class="p-col-12">
  <span>Usuário: </span>
  <input type="text" #user class="form-control" placeholder="Usuario" required autofocus><br><br>
</div>

<div class="p-col-12">
  <span>Senha: </span>
  <input type="password" #password class="form-control" placeholder="Senha" required><br><br>
</div>


<div class="p-col-12">
  <button class="btn btn-lg btn-primary btn-block" (click)="logOn(user.value,password.value)" type="submit">Acessar</button><br>
  <button class="btn btn-lg btn-primary btn-block" (click)="criarUsuario(user.value,password.value)" type="submit">Criar Usuario</button><br>
  <button class="btn btn-lg btn-primary btn-block" (click)="recuperarSenha(user.value)" type="submit">Recuperar Senha</button><br>
</div>

</div>
