@import "src/assets/styles/generalStyle.scss";


.wrapper-card.p-card {
  border: solid 10px red !important;
  margin: 0em 1.7em;
  min-height: 81vh !important;
  max-height: 260vh;
  background-color: #bccfd6bf;
}
:host ::ng-deep {
  button.p-button.p-component.p-ripple {
    width: 100%;
    border-radius: 15px;
  }

  .wrapper-card.p-card.p-component {
    width: 20% !important;
}

  .p-card{
    display: flex !important;
    justify-content: center !important;
  }

  h1 {
    text-align: center;
  }
  img.img-logo {
    width: 100%;
  }
  .container.grid {
    text-align-last: center;
  }
}

small#password-help {
  cursor: pointer;
  color: #007ad9;
  margin-top: 30px;
  padding-left: 14rem;
  display: flex;
}


// :host::ng-deep{}
//  .p-card {
//   width: 20% !important;
// }


