@import "src/assets/styles/generalStyle.scss";

::ng-deep{
  .wrapper-card.p-card {
   width: 500px;
}

div {
 display: grid !important;
 justify-content: space-around !important;
}
p-button{
 width: 180px;
}
}

:host ::ng-deep {
  button.p-button.p-component.p-ripple {
    width: 100%;
    border-radius: 15px;
  }

  h1 {
    text-align: center;
  }
  img.img-logo {
    width: 100%;
  }
  .container.grid {
    text-align-last: center;
  }
  .img-logo{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 6px 16px 0 rgb(0 0 0 / 46%);
        border-radius: 15px !important;
  }
}
