@import "src/assets/styles/colors.scss";

:host ::ng-deep {
  .g-dialog {
    .p-dialog {
      padding: 20px;
      width: 488px;
      border-radius: 4px;


      .p-dialog-header {
        border: none;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        color: $cor-cinza-escuro-padrao;
        height: 1em;
        padding: 0em;
          border-radius: 25px 25px 0px 0px;
      }

      .p-dialog-title {
        font-size: 16px;
      }

      .p-dialog-content {
        border: none;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $cor-cinza-escuro-padrao;
        padding: 2em;

      }
    }

    .error {
      .p-dialog,
      .p-dialog-header,
      .p-dialog-content {
        background-color: $cor-vermelho-alerta;
      }

      icon {
        color: red;
        margin-right: 0.5em;
      }
    }

    .success {
      .p-dialog,
      .p-dialog-header,
      .p-dialog-content {
        background-color: $cor-verde-sucesso;
      }
      icon {
        color: green;
        margin-right: 0.5em;
      }
    }
  }
}
