@import "src/assets/styles/generalStyle.scss";

.p-field {
  width: 100%;
  // margin-bottom: 2rem;
}

.p-invalid {
  font-size: 12px;
  color: red;
  margin-bottom: 0.5rem;
}

// remove button increment and decrement of input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */

    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}
