<div>
  <!-- aqui abaixo inicia o dialog de usuário, é nele que foi injetado os campos do formulário, ele é exibido quando a variável showDialogUser recebe
  o valor true -->
  <p-dialog #dialogDrop (onHide)="onHideDialog()" [draggable]="false" closeIcon="fa fa-times" [modal]="true"
     [(visible)]="showDialogUser" header="Cadastrar Novo Usuários">

    <!-- aqui começa a tag form, dentro dela fica todos os inputs, com isso, é possível pegar o valor de cada campo para salvar, editar ou deletar -->
    <form method="post" [formGroup]="usersForm" (ngSubmit)="saveUser(usersForm)">

      <!-- essa div envolve todos os campos do form, ela é essencial para ajustar a posição de todos os campos ao mesmo tempo -->
      <div class="p-grid form-user">

        <!-- observar que cada input foi envolvido em uma div pra que possa ser fácil na hora de aplicar estilos -->
        <div class="col-12">
          <input-text label="Nome" [control]="usersForm.get('name')" [requiredLabel]="true" formControlName="name"
            id="name" [type]="'text'" pTooltip="Digite o nome do usuário">
          </input-text>
        </div>

        <div class="col-12">
          <input-text label="Email" [control]="usersForm.get('email')" [requiredLabel]="true" formControlName="email"
            id="email" [type]="'text'" pTooltip="Digite o email do usuário" (change)="mailPrefixCapture()">
          </input-text>
        </div>

        <div class="col-12">
          <input-text label="Usuário" [control]="usersForm.get('user')" [requiredLabel]="true" formControlName="user"
            id="user" [type]="'text'" pTooltip="Digite a senha" [disabled]="true">
          </input-text>
        </div>

        <div class="col-12">
          <input-text label="Senha" [control]="usersForm.get('password')" [requiredLabel]="true" formControlName="password"
            id="password" [type]="'password'" pTooltip="Digite a senha">
          </input-text>
        </div>

        <div class="col-12">
          <input-text label="Confirmar senha" [control]="usersForm.get('confirmPassword')" [requiredLabel]="true"
          id="confirmPassword" [type]="'password'" pToolTip="Confirme a senha" (change)="comparePassword()" formControlName="confirmPassword">
        </input-text>
        <label id="confirmPassword">{{labelErrorComparePassword}}</label>
        </div>

         <div class="col-12">
          <input-mask [requiredLabel]="true" label="CPF" formControlName="cpf" id="cpf" type="'text'" [maxlength]=14
          pTooltip="Digite o CPF do contato" (change)="loseFocus()" (keyup)="verifyCpfLength()" [mask]="'999.999.999-99'">
          </input-mask>
          <label id="cpf">{{labelError}}</label>
        </div>

        <!-- cada div recebe uma tag class, e dentro dessa tag, pode ser chamado várias classes, por ex. uma class é essa form-applications
        e no arquivo .scss tá sendo passado um estilo pra ela-->
        <div class="col-12">
          <!-- <input-text label="Telefone" [control]="usersForm.get('phone')" [requiredLabel]="true" formControlName="phone"
            id="phone" [type]="'text'"  pTooltip="Digite o telefone do usuário">
          </input-text> -->
          <input-mask [requiredLabel]="true" label="Telefone"formControlName="phone"
          id="clientPhone" [type]="'text'" [mask]="'(99)99999-9999'"
          [control]="usersForm.get('phone')">
          </input-mask>
        </div>



        <!-- aqui são os dois botões no rodapé do dialog, o de SALVAR e CANCELAR -->
        <div class="buttons-actions">
          <p-button type="submit" icon="fa fa-check" [disabled]="this.usersForm.invalid || enablebtnsave == true" class="standard tableButton-def"
            label="Salvar">
          </p-button>
          <p-button type="button" icon="fa fa-times" (onClick)="openConfirmCancel()" class="dismiss tableButton"
            label="Cancelar" >
          </p-button>
        </div>
      </div>

      <!-- aqui encerra o form e o dialog -->
    </form>
  </p-dialog>

  <!-- Aqui começa a tela de exibição de usuários, onde tem um input de filtro global e o botão de criar usuário -->
  <div class="grid group-inputFilter-btnCreate">

    <!-- esse trecho é um grupo, onde fica juntos o botão de criar usuário juntamente com o input de filtro global -->
    <div class="col-12 div-group-nputFilter-btnCreate">
    <span class="p-input-icon-left p-ml-auto input-filterGlobal">
      <!-- essa tag abaixo apenas coloca um ícone dentro do input, o ícone da lupa -->
      <i class="pi pi-search"></i>
        <input class="input-search" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Digite o nome, usuário ou cpf do usuário" />
        </span>
      </div>
      <!-- aqui é o botão de criar usuário -->
      <p-button pRipple label="CRIAR USUÁRIO" class="standard btn-criar-usuário" type="button"
        (click)="openDialogAddUser()">
      </p-button>
  </div>

  <!-- aqui começa a tabela, tudo que é exibido dentro dela estão dentro das tag <table></table> -->
  <p-table #dt [value]="dataToFillTable" [columns]="cols" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [rowsPerPageOptions]="[10,25,50]"
     [globalFilterFields]="['name','user','email']" [sortOrder]="-1" [sortField]="'dateRecord'"
    [reorderableColumns]="true"  responsiveLayout="scroll" [loading]="loading" [scrollable]="true"
    scrollHeight="400px" [filterDelay]="1500" [resizableColumns]="true">

    <!-- aqui inicia a construção do header da tabela, os títulos das colunas, junto com filter e sort -->
    <ng-template pTemplate="header" let-columns>

      <!-- a tag tr significa table row, é uma linha da tabela, onde dentro dessa linha existe as tag th que são as table headers -->
      <tr>
        <!-- aqui é o botão de engrenagem que chama um dialog de configuração das colunas -->
        <th id="config" class="size-first-column">
          <button pButton type="button" class="tableButton-def" icon="fas fa-cog " (click)="showModalSelectColumns()"
            pTooltip="Configurações"></button>
        </th>

        <!-- aqui inicia a exibição do nome das colunas, foi feito um loop for "ngFor" pra percorrer um array com todos os nomes que foi necessário-->
        <th columnResizeMode="expand" *ngFor="let col of columns; let i = index" [pTooltip]="col.hintName"
          tooltipPosition="top" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn [id]="col.field">
          {{col.header}}

          <!-- aqui é o ícone do sort de cada coluna, observe que esse ícone foi injetado dentro do for, logo ele é injetado apenas uma vez, mas o for
          se encarrega de exibir ele pra cada coluna -->
          <p-sortIcon *ngIf="col.field !== 'operation'" [field]="col.field"></p-sortIcon>

          <!-- aqui é o ícone do filter, segue a mesma lógica do sort, sendo adicionado dentro do for -->
          <p-columnFilter *ngIf="col.field !== 'operation'" styleClass="button-operation" [type]="'text'"
            [field]="col.field" [matchMode]="'contains'" display="menu" #filterTable [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
          </p-columnFilter>

          <!-- aqui finaliza a tag th da exibição de todas as hearders da tabela -->
        </th>
      </tr>
    </ng-template>

    <!-- aqui inicia o corpo da tabela(body) -->
    <ng-template pTemplate="body" let-dataToFillTable let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <!-- da mesma form, uma tag abaixo inicia uma nova linha (tr - table row) -->
      <tr>

        <!-- aqui foi adicionado uma td (table data), mas essa está limpa, sem nada, é pra ser exibida abaixo do botão de engrenagem que chama
        o dialog de configuração das colunas, essa primeira coluna não tem nenhum valor, então ele vai ficar vazia -->
        <td class="size-first-column" id="config"></td>

        <!-- aqui inicia a td com valores, o exemplo segue a mesma ideia lá cima com as th, onde foi feito um looper, a outra forma de injetar
        os dados na tabela sem utilizar o loop é chamando cada nome da coluna, mas em casos onde existe muitas colunas, isso não é melhor a fazer
      então passamos a utilizar o for pra percorrer um array com todos os dados necessário -->
        <td *ngFor="let col of columns; let i = index" [id]="col.field">
          <span *ngIf="col.field !=='dateRecord'" [pTooltip]="rowData[col.field]">
            {{rowData[col.field]}}
          </span>

          <span *ngIf="col.field == 'dateRecord'" [pTooltip]="rowData[col.field]">
            {{rowData[col.field] | date: 'dd/MM/yyyy'}}
          </span>

          <!-- aqui é exibido os botões de operações (editar - excluir) ele é exibido na última coluna, cada linha da tabela é exibido esse par de ícones-->
          <div *ngIf="col.field=='operation'" class="justify-content-center" style="font-size: 16px">
            <p-button pRipple type="button" class="tableButton-def" icon="fas fa-pencil-alt"
                (click)="editUser(rowData)"></p-button>
            <p-button pRipple type="button" class="tableButton-def" icon="fas fa-trash"
                (click)="openConfirmDelete(rowData.id)"></p-button>
        </div>
        </td>
      </tr>
    </ng-template>
    <!-- aqui finaliza a tag da tabela -->
  </p-table>
</div>

<!-- modal generico para sucesso ou erro a cada operação no servidor ex. salvar, deletar, editar, buscar -->
<generic-response-dialog (onClose)="onHide()" (onShow)="onShow()" [showModal]="showModalResponse"
[isError]="isErrorResponse" [content]="contentResponse">
</generic-response-dialog>

<!-- Modal de configuração das colunas da tabela -->
<app-dialog-table-column (onClose)="onHideDialogTable()" [showModal]="showModalColumn" [fullCols]="fullCols"
  [colsModified]="cols" [immutables]="immutableCols" (saveColumn)="editColumns($event)">
</app-dialog-table-column>

<!-- modal de confirmação que é exibido sempre que deleta um cadastro -->
<app-confirm-dialog class="confirmacao" header="Confirmação" (cancelEvent)="showCorfirmDialog = false"
[showModal]="showCorfirmDialog" (confirmEvent)="confirmAction()"
[content]="msgModalConfirm" (onClose)="closeConfirmDialog()">
</app-confirm-dialog>

<app-confirm-dialog class="confirmacao" header="Confirmação" (cancelEvent)="showCorfirmDialog2 = false"
[showModal]="showCorfirmDialog2" (confirmEvent)="confirmAction2()"
[content]="msgModalConfirm" (onClose)="closeConfirmDialog2()">
</app-confirm-dialog>
