@import "src/assets/styles/generalStyle.scss";

.p-button {
  color: #ffffff;
  background: #4682b4;
  border: 1px solid #4682b4;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

.form-categorias{
  display: grid;
  justify-items: center;
}

#cor{
    width: 35px;
}

.input-filterGlobal {
  width: 98%;
}

.group-inputFilter-btnCreate {
  display: flex;
}

.div-group-nputFilter-btnCreate {
  width: 40%;
}


// essa parte ajusta a largura das colunas da tabela
th#operation,
td#operation {
  width: 6%;
}

th#icon,
td#icon {
  width: 15%;
  text-align: center;
}

th#name,
td#name {
  width: 45%;
}

.semaforoVerde{
  color: red;
}

th#cor,
td#cor {
  width: 35%;
  text-align: center;
}

th#id,
td#id,
th#config,
td#config {
  width: 5%;
}

// esse código altera a cor do botão quando ele recebe foco com mouse
.p-button:enabled:hover {
  background: #0d89ec;
  color: #ffffff;
  border-color: #0d89ec;
}

.form-applications {
  padding-bottom: 17px;
}

.buttons-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 230px;
}

.p-button {
  color: #ffffff;
  background: #4682b4;
  border: 1px solid #4682b4;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

.p-button:enabled:hover {
  background: #0d89ec;
  color: #ffffff;
  border-color: #0d89ec;
}

.input-increment {
  width: 80px;
  height: 29px;
}

.btn-criar-usuario {
  height: 37px !important;
}
:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.country-item-value {
  img.flag {
      width: 17px;
  }
}

:host ::ng-deep {
  .size-first-column {
    width: 77px;
  }

  .p-colorpicker-overlay-panel {
    position: initial !important;
  }

  .tableButton-def,
  button.p-button.p-component.p-button-icon-only.p-ripple {
    &:hover {
      background-color: transparent !important;
      border: 1px solid transparent !important;
      color: #767676 !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparent !important;
    }

    color: #495057;
    background: transparent;
    border: 1px solid transparent;
  }
  &.p-fieldset .p-fieldset-legend {
    color: #495057;
    background: transparent;
    border: none;
    font-weight: normal;
    margin-left: 5px;
    padding: 0.6rem;
  }
  .label {
    font-size: 13px;
  }

  .p-card {
    margin: auto;
    margin-top: 0.1%;
    min-height: 83vh;
    max-width: 95vw;
  }

  textarea.text-area {
    padding: 12px 16px;
    color: #000 !important;
    font-size: 13px;
    text-transform: none;
  }

  .footer {
    text-align-last: center;
    // padding-top: 187px;
  }

  .margin-ten {
    margin: 10px;
  }
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
      padding-top: .25rem;
      padding-bottom: .25rem;
  }

  .country-item-value {
      padding: .25rem .5rem;
      border-radius: 3px;
      display: inline-flex;
      margin-right: .5rem;
      background-color: var(--primary-color);
      color: var(--primary-color-text);

      img.flag {
          width: 17px;
      }
  }

  .country-placeholder {
      padding: 0.25rem;
  }
}
:host ::ng-deep {
  @media screen and (max-width: 640px) {
      .p-multiselect {
          width: 100%;
      }
  }
}

.label-icone{
  font-size: 13px;
}



