<!-- <p> ----------------- Saída do Output-Propoerty ------------------ </p>

<p>saída do output-property abaixo:</p>
<p>Aqui foi criado dois botões chamando a função incrementa() e decrementa() onde adiciona ou diminui um número dentro
</p>
<p>do input, tudo isso está dentro do html do output-property.html, e sendo chamado lá no example.html pela rota</p>
<p>'-output-property->'</p> -->

<div>
  <button pButton type="button" label="-01" (click)="changeValue(1, '-')"></button>
  <input type="text" [value]="valueInput1" readonly #campoInput>
  <button pButton type="button" label="+01" (click)="changeValue(1, '+')"></button>
  <button pButton type="button" label="Zerar" (click)="zeroValue('input1')"></button><br><br>

  <button pButton type="button" label="-02" (click)="changeValue(2, '-')"></button>
  <input type="text" [value]="valueInput2" readonly #campoInput>
  <button pButton type="button" label="+02" (click)="changeValue(2, '+')"></button>
  <button pButton type="button" label="Zerar" (click)="zeroValue('input2')"></button><br><br>

  <button pButton type="button" label="-04" (click)="changeValue(4, '-')"></button>
  <input type="text" [value]="valueInput3" readonly #campoInput>
  <button pButton type="button" label="+04" (click)="changeValue(4, '+')"></button>
  <button pButton type="button" label="Zerar" (click)="zeroValue('input3')"></button><br><br>

  <button pButton type="button" label="-10" (click)="changeValue(10, '-')"></button>
  <input type="text" [value]="valueInput4" readonly #campoInput>
  <button pButton type="button" label="+10" (click)="changeValue(10, '+')"></button>
  <button pButton type="button" label="Zerar" (click)="zeroValue('input4')"></button><br><br>

</div>

<div>
  <p-table [value]="contacts">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr>
            <td>{{contact.name}}</td>
            <td>{{contact.idade}}</td>
            <td>{{contact.cpf}}</td>
            <td>{{contact.email}}</td>
        </tr>
    </ng-template>
</p-table>


</div>


