<div>
  <button pButton type="button" label="Dialog" (click)="dialog(display)"></button><br><br>
  <p-table #dt [value]="dataToFillTable" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [rowsPerPageOptions]="[5,10,15]"
	[globalFilterFields]="['name','idade','cpf','email']">
    <ng-template pTemplate="caption">
		<div class="p-d-flex">
			<span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Palavra-chave de pesquisa" />
            </span>

		</div>
	</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataToFillTable>
        <tr>
            <td>{{dataToFillTable.name}}</td>
            <td>{{dataToFillTable.idade}}</td>
            <td>{{dataToFillTable.cpf}}</td>
            <td>{{dataToFillTable.email}}</td>
        </tr>
    </ng-template>
</p-table>


</div>


