<app-header></app-header>
<p>Tela Principal</p>
<nav class="nav justify-content-center">
  <a class="nav-link active" href="example">Example - </a>
  <a class="nav-link" href="example2"> - Example 2 - </a>
  <a class="nav-link disabled" href="example3">Example 3 --</a>
  <a class="nav-link disabled" href="home"> Home -- </a>
  <a class="nav-link disabled" href="main-page"> Main Page -- </a>
  <a class="nav-link disabled" href="input-property"> Input Property</a>
</nav>
<router-outlet></router-outlet>