<!-- <app-login [isLoged]=""></app-login> -->

<body class="body" style="width: 99.6%">
  <app-header *ngIf="!isLoginRoute"></app-header>
  <!-- BREADCRUMBER -->
  <section id="main-content">
    <section class="wrapper">
      <app-breadcrumbs [hidden]="isLoginRoute"></app-breadcrumbs>
    </section>
  </section>
  <div>
    <br>
    <p-card styleClass="wrapper-card">
      <router-outlet></router-outlet>
    </p-card>
    <!-- <loading [isLoading]="true"></loading> -->
    <progress-bar></progress-bar>

  </div>
</body>
