.p-grid {
  justify-content: center;
  align-items: center;
}

.title-card {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.color-expenses-icon {
  color: red;
  font-size: 40px;
}

.color-incoming-icon {
  color: rgb(19, 136, 10);
  font-size: 40px;
}

.color-balance-icon {
  color: #5050fc;
  font-size: 40px;
}

.title-card-custom{
  width: 115%;
}



