@import "src/assets/styles/colors.scss";

:host ::ng-deep {
  .rows {
    padding: 8px 0px;
  }

  .group-button {
    padding-top: 15vh;
  }

  .p-d-flex.p-jc-center.rows.div-input-group {
    padding-bottom: 1px;
  }

  .button-restoreDefault {
    float: left;
  }

  .description {
    width: 50%;
    text-align: right;
    font-size: 13px;
    padding-top: 12px;
    padding-right: 12px;
  }

  input#time {
    width: 156px !important;
  }

  .p-invalid {
    padding-top: 40px;
    position: fixed;
    font-size: 10px;
  }

  .label-input-frequencia {
    padding-top: 19px;
  }

  .wrapper-card.p-card.p-component {
    min-height: 627px !important;
  }

  .p-inputgroup.input-text.input-text-critico {
    margin-top: -13px;
  }

  .input-text {
    width: 50% !important;
    padding-top: 10px;

    input {
      width: 106px !important;
      min-width: 0;
      border: 1px solid #cccccc;
    }
  }

  .group-button {
    margin-top: 18vh;
  }

  span.p-button-icon.fa.fa-pencil-alt {
    font-size: 18px;
    color: white;
  }

  button.p-button.p-component.p-button-icon-only {
    background-color: #306889;
    border-color: #306889;
  }

  .p-circle {
    margin-right: 20px;
  }

  .button-restoreDefault {
    float: left;
    margin-top: 8px;
}

  .p-button {
    height: 37px;
  }

  .p-calendar .p-datepicker {
    top: -20vh !important;
    left: 200px !important;
    table td {
      padding: 0 !important;
    }
  }
}
