@import "src/assets/styles/generalStyle.scss";

.group-date {
  display: flex;
  align-items: flex-end;
}

.group-btn-actions {
  display: flex;
}

.group-filter-global{
  width: 412px;
}

:host ::ng-deep {
  .btn-today{

    background: red !important;
    border-color: red !important;
  }
}


// essa parte ajusta a largura das colunas da tabela
th#operation,
td#operation {
  width: 6%;
}

th#config,
td#config {
  width: 6%;
}

th#code,
td#code {
  width: 10%;
}

th#type,
td#type {
  width: 12%;
}

th#description,
td#descrption {
  width: 17%;
}

th#typePayment,
td#typePayment {
  width: 15%;
}

th#value,
td#value {
  width: 10%;
}


:host ::ng-deep {


  .size-first-column {
    width: 77px;
  }

  .tableButton-def,
  button.p-button.p-component.p-button-icon-only.p-ripple {
    &:hover {
      background-color: transparent !important;
      border: 1px solid transparent !important;
      color: #767676 !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparent !important;
    }

    color: #495057;
    background: transparent;
    border: 1px solid transparent;
  }
}
