<!-- <p> ----------------- Saída do Output-Propoerty ------------------ </p>

<p>saída do output-property abaixo:</p>
<p>Aqui foi criado dois botões chamando a função incrementa() e decrementa() onde adiciona ou diminui um número dentro
</p>
<p>do input, tudo isso está dentro do html do output-property.html, e sendo chamado lá no example.html pela rota</p>
<p>'-output-property->'</p> -->

<div>
  <button pButton type="button" label="-1" (click)="decrementaMais1()"></button>
  <input type="text" [value]="valorMaisUm" readonly #campoInput>
  <button pButton type="button" label="+1" (click)="incrementaMais1()"></button><br>

  <button pButton type="button" label="-2" (click)="decrementaMais2()"></button>
  <input type="text" [value]="valorMaisDois" readonly #campoInput>
  <button pButton type="button" label="+2" (click)="incrementaMais2()"></button><br>

  <button pButton type="button" label="-4" (click)="decrementaMais4()"></button>
  <input type="text" [value]="valorMaisQuatro" readonly #campoInput>
  <button pButton type="button" label="+4" (click)="incrementaMais4()"></button><br>

  <button pButton type="button" label="-10" (click)="decrementaMais10()"></button>
  <input type="text" [value]="valorMaisDez" readonly #campoInput>
  <button pButton type="button" label="+10" (click)="incrementaMais10()"></button><br>

</div>


