<p> ----------------- Saída do Output-Propoerty ------------------ </p>

<p>saída do output-property abaixo:</p>
<p>Aqui foi criado dois botões chamando a função incrementa() e decrementa() onde adiciona ou diminui um número dentro
</p>
<p>do input, tudo isso está dentro do html do output-property.html, e sendo chamado lá no example.html pela rota</p>
<p>'-output-property->'</p>

<div>
  <button pButton type="button" label="Click" (click)="decrementa()">-</button>
  <input type="text" [value]="valor" readonly #campoInput>
  <button pButton type="button" label="Click" (click)="incrementa()">+</button>

</div>