<p>teste</p>

<div class="p-grid p-jc-center">
  <p>Associar Perfil ao Indicador</p>
</div>
<div class="p-grid p-jc-center">
  <picklist [page]="page" width="400px" height="300px" sourceHeader="Perfis Disponíveis" targetHeader="Perfis Associados"
  [sourceList]="sourceList" [targetList]="targetList">
  </picklist>
  </div>

  <generic-response-dialog (onClose)="onHide()" (onShow)="onShow()" [showModal]="showModalResponse"
    [isError]="isErrorResponse" [content]="contentResponse">
</generic-response-dialog>


<div class="p-grid p-jc-center m-t-1em div-button">
  <p-button class="btn-salvar p-mr-3" type="submit" 
    class="standard submitButton right" icon="fas fa-save" label="Salvar">
  </p-button>
  <p-button type="button" (click)="cancelForm()" class="dismiss p-ml-3" icon="fa fa-times-circle" label="Cancelar">
  </p-button>
</div>