/* --------- P & B --------- */
$cor-branco-padrao: #FFF;
$cor-cinza-padrao: #F1F2F7;
$cor-cinza-claro-padrao: #F2F2F2; //#BDBDBD
$breadcrumbs-alt: #E0E1E7;
$cor-branco-bg: #EAEAEA;
$cor-branco-bg-alt: #EAEAEC;
$border-cinza-claro: #E0E0E0;
$cor-abas-inativa-bg:#CCCCCC;
$cor-cinza-escuro-padrao: #767676;
$cor-cinza-escuro-padrao-alt: #4F4F4F;
$cor-nav-link: #495057;
$cor-preto-padrao: #000;
$scroll-bar:  #C4C4C4;
$scroll-bar-hover: #A3A3A3;

/* ----------- STATUS -------------- */
$cor-hover-cancelar: #999999;
$cor-active-cancelar: #888888;
$cor-disabled-cancelar: #BDBDBD;

$cor-buttom-dafault: #306889;
$cor-button-hover: #3F88B3;
$cor-button-active: #2D9CDB;
$cor-button-disabled: #799DB3;

/* ----------- AZUL -------------- */
$cor-azul-mais-claro-padrao: #b7d2ea;
$cor-azul-claro-padrao: #2D9CDB; //#2A78AD
$cor-azul-claro-selecionado: #2196F3;
$cor-azul-padrao: #2A78AD; //#297dac;
$cor-azul-escuro-padrao: #306889;
$cor-azul-medio-escuro-padrao: #476888;
$cor-azul-mais-escuro-padrao: #34495E;

/* ----------- VERMELHO ----------- */
$cor-vermelho-claro-padrao: #a94442;
$cor-vermelho-escuro-padrao: #bd555e;
$cor-vermelho-alerta: #FFD2D2;
$required: #f00;

/* ----------- VERDE ------------ */
$cor-verde:#1e7e34;
$cor-verde-sucesso:#CFE9DA;
