:host ::ng-deep {
  input,
  .p-dropdown,
  p-dropdown,
  .p-inputgroup > p-dropdown,
  p-inputmask > input,
  p-autocomplete > span,
  p-autocomplete > input,
  p-inputnumber > span,
  p-inputnumber > input {
    width: 100% !important;
    min-width: 100%;
    // height: calc(1.5em + 0.75rem + 2px) !important;
    height: 32px !important;
    color: #4f4f4f !important;
    font-family: Roboto;
    text-transform: uppercase;

    &:disabled {
      background-color: #eaeaea;
      border: 1px solid #cccccc;
    }
  }

  textarea {
    width: 100%;
    min-height: 110px;
    color: #4f4f4f !important;
    text-transform: uppercase;
    font-family: Roboto;
    border-color: #c2cad3;
    &:focus-visible {
      outline: none;
      box-shadow: inset;
      box-shadow: 0 0 0 0.2rem #a6d5fa;
      border-color: #2196f3;
    }
    &:disabled {
      background-color: #eaeaea;
      border: 1px solid #cccccc;
    }
  }

  .p-inputtext {
    // @include fontStandard;
    font-family: Roboto;
    text-transform: uppercase;
  }

  p-button,
  .p-button {
    height: 31.5px !important;
  }

  .p-datepicker-trigger {
    background-color: $cor-azul-escuro-padrao !important;
    border: 1px solid $cor-azul-escuro-padrao !important;
  }

  .p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
  }

  > .p-inputgroup-addon {
    // height: calc(1.5em + 0.75rem + 2px) !important;
    height: 32px !important;
  }

  .p-dropdown-label,
  .p-dropdown .p-dropdown-label.p-placeholder,
  .p-checkbox-label {
    color: #767676 !important;
    font-size: 13px !important;
  }

  .p-paginator-bottom {
    font-family: Roboto;

    .p-paginator-current,
    .p-paginator-rpp-options,
    p-dropdown {
      position: absolute;

      .p-dropdown-label {
        // @include fontStandard;
        padding: 0.5rem 23px;
      }
    }

    .p-paginator-rpp-options,
    p-dropdown {
      width: auto !important;
      min-width: auto;
      right: 0.5vw;
    }

    .p-paginator-current {
      left: 0.5vw;
      // @include fontStandard;
      text-transform: none;
    }

    .p-paginator-pages {
      // @include fontStandard;
    }
  }

  .p-datepicker-calendar {
    // @include fontStandard;
  }
}
