@import "dialogs";
@import "tables";
@import "buttons";
@import "colors";
@import "keyframes";
@import "variables";
@import "fields";
@import "functions";

input.p-inputtext.p-component{
  border-radius: 15px !important;

}


  .pointer {
    cursor: pointer !important;
  }
  .width50 {
    width: 50%;
  }

  .width75 {
    width: 75%;
  }

  .full-width {
    width: 100%;
  }

  .required:after {
    color: $required;
    content: " *";
  }

  .form-label {
    display: inline-grid;
    width: 100%;
    label {
      @include fontStandard;
      color: #767676;
      line-height: 16px;
      font-weight: 400;
    }
  }

  .text-center {
    text-align: center;
  }

  .info:hover {
    cursor: help;
  }

  .clickable:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .no-hidden {
    display: block;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .strongRight {
    position: absolute;
    right: 0;
  }

  .strongLeft {
    position: absolute;
    left: 0;
  }

  // CORE
  .uppercase {
    text-transform: uppercase;
  }

  .p-component {
    @include fontStandard;
    font-weight: unset;
  }

  // p-chart {
  //   border: solid red;
  //   @include fontStandard;

  // }

  .p-component {
    .p-dropdown-label,
    .p-dropdown .p-dropdown-label.p-placeholder,
    .p-checkbox-label {
      color: #767676 !important;
      font-size: 13px !important;
    }
  }

label {
  color: #767676;
}
