@import "dialogs";
@import "tables";
@import "buttons";
@import "colors";
@import "keyframes";
@import "variables";
@import "fields";
@import "functions";

:host ::ng-deep {
  .width50 {
    width: 50%;
  }

  .width75 {
    width: 75%;
  }

  .full-width {
    width: 100%;
  }

  .required:after {
    color: $required;
    content: " *";
  }

  .form-label {
    display: inline-grid;
    width: 100%;
    label {
      @include fontStandard;
      color: #767676;
      line-height: 16px;
      font-weight: 400;
    }
  }

  .text-center {
    text-align: center;
  }

  .info:hover {
    cursor: help;
  }

  .clickable:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .p-tooltip-text,
  .p-tooltip,
  .p-tooltip-arrow {
    font-size: 8px !important;
  }

  .p-inputswitch {
    height: 1.4rem !important;
  }

  .strongRight {
    position: absolute;
    right: 0;
  }

  .strongLeft {
    position: absolute;
    left: 0;
  }

  // CORE
  .uppercase {
    text-transform: uppercase;
  }
}

.tooltip-beneficios .p-tooltip-text {
  width: 516px;
  height: 216px;
}
