@import "colors";

p.card {
    .sub-table {
        border-collapse: collapse; 

        .ui-table {
            width: 90vw;
            margin: 4px;
        }

        .ui-table .ui-table-thead tr {
            td {
                border: 05px solid #CCC;
                padding-left: 14px;

                &:last-child {
                    text-align: left !important; 
                    padding-left: 1em !important;
                    padding-left: 1em !important;
                }
            }
            th {

            }
        }
    }

    .ui-table {

        .ui-sortable-column.ui-state-highlight {
            background-color: $border-cinza-claro;
            color: $cor-cinza-escuro-padrao;

            .ui-sortable.column-icon {
                color: $cor-cinza-escuro-padrao;
            }
        }

        .ui-button-icon-only .ui-button-icon-left {
            top: 60%;
        }

        .ui-button.ui-state-default.ui-button-secondary,
        .ui-buttonset.ui-button-secondary>.ui-button.ui-state-default {
            background-color: transparent;
            border: none;
            color: $cor-cinza-escuro-padrao;

            &:hover {
                background-color:transparent;
            }
        }
        .ui-table-loading-content {
            top: 0;
            left: 45.8%;
        }

        .ui-table-loading-icon {
            font-size: 8em;
            color: $cor-azul-claro-selecionado
        }

        .ui-table-thead tr th {
            padding: 0 0 0 0.5em;
            text-transform: uppercase;
            // text-align: left;
            background-color: $border-cinza-claro;
            color: $cor-cinza-escuro-padrao;
            // @include fontePadraoCondensed;
            height: 36px;
            text-overflow: ellipsis;
            white-space: nowrap;
            direction: ltr;
            input {
                width: 100%;
            }
        }

        p-sorticon {
            // float: right;
        }

        .ui-table-tbody {

            >tr {
                color: $cor-cinza-escuro-padrao-alt;
                font-size: 13px;
                height: 36px;

                &:nth-child(odd) {
                    background-color: $cor-branco-padrao;
                }

                &:nth-child(even) {
                    background-color: #F4F4F4;
                }

                &:hover {
                    background-color: $cor-azul-mais-claro-padrao;
                }

                td {
                    padding: 0;
                    padding-left: 10px;

                    &:last-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}
