<!-- <h5>Single</h5>
<p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
<input type="text" [(ngModel)]="nome">
<p>você digitou o {{ nome }}</p>

<section class="two-way-biding"> 
    <article>
      <h3>Two-way data biding</h3>
      <div>
        <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value">
  
        <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event">
  
        <input type="text" [(ngModel)]="nome">
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
        <input type="text" [(ngModel)]="pessoa.endereco.bairro">
  
  
        <p>{{pessoa.endereco.rua}}</p>
        <p>você digitou o {{ nome }}</p>
  
        <p>Meu nome é {{pessoa.nome}}</p>
        <p>Minha idade é: {{pessoa.idade}}</p>
      </div>
    </article>
  </section>


  <router-outlet></router-outlet> -->

<section class="input-output-properties">
  <article>
    <!-- <h3>Input/Output Properties - parágrafo do example.html</h3> -->
    <!-- <app-input-property [nome]="nomeDoCurso" [nomeProfessor]="nomeDoProfessor"></app-input-property> -->

    <!-- saída do output-property dentro do example.html -->
    <app-output-property-dashboard [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-output-property-dashboard>
<!-- 
    <app-ciclo-dashboard [valorInicialCiclo]="valor" [nomeInicialCiclo]="nomeCiclo"
    *ngIf="!deletarCiclo" ></app-ciclo-dashboard> -->
    <!-- <p-button (click)="mudarValor()">Mudar Valor</p-button> <p></p>
    <!-- o botão abaixo vai destruir o componente que exibe o valor da variável -->
    <!-- <p-button (click)="destruirCiclo()">Deletar</p-button>  -->
  </article>
</section>