<div class="p-grid p-jc-center">
    <app-table-gerencia
    [loading]="tableLoading"
    page="ufs-atuacao"
    [showModalDelete]="showModalDelete"
    [cols]="tableColumns"
    [dataToFillTable]="ufsAtuacaoResults"
    (updateColumn)="saveTableConfig($event)"
    [fullCols]="allColumns"
    [rowsToShow]="rows"
    [immutableCols]="['codigoUnidade','nomeUnidade','operation']">
    </app-table-gerencia>
  </div>
  
  <!-- <generic-response-dialog [content]="contentResponse" [showModal]="showModalResponse"></generic-response-dialog> -->
  

<p-button routerLink="/ciclo/cadastrar">
    Testando
</p-button>
